src/selector-sizzle.js
src/selector.js
.perf
dist
.project
.settings
*~
*.diff
*.patch
sauce_connect.log
/*.html
.DS_Store
dist/.destination.json
dist/.sizecache.json
build/.sizecache.json
node_modules
bower_components
